.todoListTitle {
  font-size: 20px;
}

.generatorInput {
  margin-right: 10px;
  height: 20px
}

.todoItemDetail {
  flex-grow: 1;
}

.todoItemDoneDetail {
  text-decoration: line-through 2px;
  flex-grow: 1;
}

.todoListTitle {
  font-size: 20px;
}

.generatorButton {
  padding:0.35em 1.2em;
  display:inline-block;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  text-align:center;
  transition: all 0.2s;
  background-color: #1990ff;
  border-color: #1990ff;
  color: white;
  cursor: pointer;
}

.generatorButton:disabled {
  background-color: gray;
  border-color: gray;
  cursor: default;
}

.todoItem {
  display: flex;
  flex-direction: row;
  border: solid 2px;
  width: 700px;
  margin: 10px auto;
  padding: 10px 5px;
  text-align: left;
}

.todoItemDeleteBtn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}