.generatorInput {
  margin-right: 10px;
  height: 20px;
  width: 300px;
}

.todoItemDetail {
  flex-grow: 1;
}

.todoItemDoneDetail {
  text-decoration: line-through 2px;
  flex-grow: 1;
}

.todoListTitle {
  font-size: 30px;
}

.generatorButton:disabled {
  background-color: gray;
  border-color: gray;
  cursor: default;
}

.todoItem {
  display: flex;
  flex-direction: row;
  border: solid 2px;
  width: 700px;
  margin: 10px auto;
  padding: 10px 5px;
  text-align: left;
}

.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navBar li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.todoApp {
  display: flex;
  flex-direction: column
}
.todoItemMessage {
  font-weight: bold;
}

.doneUndoneList {
  margin: auto auto;
  width: 500px
}